:root {
    --text-color: #4c4f69; /* catppuccin text */
    --bg-color: #eff1f5; /* catppuccin base */
    --link-color: #1e66f5; /* catpuccin blue */
    --name-color: #8839ef; /* catppuccin mauve */
    --caption-color: #5c5f77; /* catppuccin subtext 1 */
    --text-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media only screen and (prefers-color-scheme: dark) {
    :root {
        --text-color: #cad3f5;
        --bg-color: #24273a;
        --link-color: #8aadf4;
        --name-color: #c6a0f6;
        --caption-color: #b8c0e0;
    }
}

@media only print {
    :root {
        --text-color: black;
        --bg-color: white;
        --link-color: blue;
    }
}

#css-naked-day {
    display: none;
}

:root {
    font-family: var(--text-font);
    font-size: 18px;
    line-height: 1.25em;
    height: 100%;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0px;
    padding: 1rem;
}

body > * {
    margin-inline: auto;
    width: min(768px, 100%);
}

a,
a:visited {
    color: var(--link-color);
    text-decoration: underline;
}

header,
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header {
    flex-direction: column;

    & .name {
        font-size: 1.5rem;
        font-weight: 900;
        text-decoration: none;
        color: var(--name-color);
    }
}

dl.table {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: self-end;
    gap: 0.5rem 1rem;

    & > :is(dt, dd) {
        padding-inline: 0.5rem;
    }

    & > dt {
        font-weight: bold;
    }

    & > dd {
        margin: 0;

        & > ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: max-content;
            gap: 2rem;
            list-style-type: none;
        }
    }
}

:is(h1, h2, h3, h4, h5, h6):not(:hover) > a.header-anchor {
    display: none;
}

@media only screen {
    a[data-external-link="true"]::after {
        mask-image: url(/img/external.svg);
        background-color: var(--link-color);
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 1rem;
        height: 1rem;
        margin: 0 0.2rem;
        border-radius: 3px;
    }

    a[style*="--webicon:"]::after {
        mask-image: none;
        background-image: var(--webicon);
        background-color: var(--bg-color);
        background-size: contain;
    }
}

@media only screen and (prefers-color-scheme: dark) {
    a[style*="--webicon-dark"]::after {
        mask-image: none;
        background-image: var(--webicon-dark);
        background-color: var(--bg-color);
        background-size: contain;
    }
}

.katex-html {
    display: none;
}

.big {
    font-size: 2rem;
}

pre[class*="language-"] {
    border-radius: 1rem;
}

figure[data-type="image"] > figcaption {
    color: var(--caption-color);
}
