:root {
    --text-color: #4c4f69; /* catppuccin text */
    --bg-color: #eff1f5; /* catppuccin base */
    --link-color: #7287fd; /* catpuccin lavender */
    --name-color: #8839ef; /* catppuccin mauve */
    --caption-color: #5c5f77; /* catppuccin subtext 1 */
}

@media only screen and (prefers-color-scheme: dark) {
    :root {
        --text-color: #cad3f5;
        --bg-color: #24273a;
        --link-color: #b7bdf8;
        --name-color: #c6a0f6;
        --caption-color: #b8c0e0;
    }
}

:root {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.25em;
}

html {
    height: 100%;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0px;
    padding: 1rem;
}

body > * {
    margin-inline: auto;
    width: min(768px, 100%);
}

header,
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header {
    flex-direction: column;
}

header a.name {
    font-size: 1.333rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--name-color);
}

dl.table {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: self-end;
    gap: 0.5rem 1rem;
    width: max-content;
}

dl.table > :is(dt, dd) {
    padding-inline: 0.5rem;
    width: min-content;
}

dl.table > dt {
    font-weight: bold;
}

dl.table > dd {
    margin: 0;
}

dl.table > dd > ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: max-content;
    gap: 2rem;
    list-style-type: none;
}

a,
a:visited {
    color: var(--link-color);
}

.katex-html {
    display: none;
}

pre[class*="language-"] {
    border-radius: 1rem;
}

figure[data-type="image"] > figcaption {
    color: var(--caption-color);
}
