:root {
    --icon-width: 88px;
    --icon-height: 31px;
    --icon-scale: 2;
    --icon-padding: 0.25rem;
}

#domain-icons {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    justify-self: center;
    list-style-type: none;
}

.domain-icon,
#local-icon {
    width: calc(var(--icon-scale) * var(--icon-width));
    height: calc(var(--icon-scale) * var(--icon-height));
    image-rendering: crisp-edges;
    padding: var(--icon-padding);
}

#local-icon {
    /* centering the image :p */
    margin-inline-start: calc(50% - var(--icon-width) - var(--icon-padding));
}
