article > dl {
    margin-block-start: 0px;

    & > section {
        border-bottom: 1px solid;
        padding-top: 1rem;

        & :last-of-type {
            border: none;
        }

        & > dt {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}
