main > dl {
    margin-block-start: 0px;

    & > dt {
        font-size: 1.5rem;
        font-weight: bold;
        padding-top: 0.5rem;
    }

    & > dd {
        border-bottom: 1px solid;
    }

    & > dd:last-of-type {
        border: none;
    }
}
