@font-face {
    font-family: JetBrainsMono;
    src: url(/font/JetBrainsMono-Regular.woff2);
}

:root {
    --thead-color: light-dark(#ccd0da, #363a4f); /* catppuccin surface 0 */
    --tr-odd-color: light-dark(#e6e9ef, #1e2030); /* catppuccin mantle */
    --tr-even-color: light-dark(#dce0e8, #181926); /* catppuccin crust */
    --blockquote-left-color: light-dark(
        #5c5f77,
        #b8c0e0
    ); /* catppuccin subtext 1 */
    --code-font: JetBrainsMono, Menlo, Consolas, Courier, monospace;
    --code-bg-mix: light-dark(white, black);
}

@media only print {
    :root {
        --code-bg-mix: white;
    }
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > dl.table {
        min-width: 50%;

        & > dd {
            justify-self: end;
        }
    }
}

h1.title {
    align-self: flex-start;
}

h1,
h2,
h3,
h4 {
    margin: 1rem 0px;
}

h5,
h6 {
    margin: 0.75rem 0px;
    font-size: 1rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.333rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
}

table {
    min-width: 80%;
    margin: 0.5rem auto;

    & > thead {
        background-color: var(--thead-color);
    }

    & > tbody {
        & > tr {
            background-color: var(--tr-odd-color);
        }
        & > tr:nth-of-type(even) {
            background-color: var(--tr-even-color);
        }
    }

    & :is(th, td) {
        padding: 0.25rem 0.5rem;
    }
}

figure.c-blockquote > blockquote {
    margin-inline-start: 0;
    padding-inline-start: 1rem;
    border-inline-start: 0.25rem solid var(--blockquote-left-color);
}

figure.c-blockquote > figcaption::before {
    content: "—";
}
