:root {
    --subtext-color: #6c6f85; /* catppuccin subtext 0 */
}

@media only screen and (prefers-color-scheme: dark) {
    :root {
        --subtext-color: #a5adcb;
    }
}

h1 {
    font-size: 2rem;
}

.title-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & > .icons {
        width: min-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        list-style-type: none;
    }
}

.posts-list {
    padding-inline-start: 0;

    & > li {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        padding-inline-start: 1rem;
        border-inline-start: 0.25rem solid var(--subtext-color);
    }
}

.post-data {
    margin-block-end: 0.25rem;
    color: var(--subtext-color);

    & > p {
        margin: 0.25rem 0;
    }
}

.post-tags {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-inline-start: 0;
    list-style-type: none;
}

.tag-link::before {
    content: "#";
}

.post-link {
    font-size: 1.25rem;
    font-weight: bold;
}
