:root {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
}

#banner {
    --caption-mix: black;
    --link-mix: white;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    background-color: color-mix(
        in oklab,
        var(--caption-color) 90%,
        var(--caption-mix) 10%
    );
    color: var(--bg-color);

    & > p {
        margin-bottom: 0;
    }

    & a {
        color: color-mix(in oklab, var(--link-color) 80%, var(--link-mix) 20%);
    }
}

@media only screen and (prefers-color-scheme: dark) {
    #banner {
        --caption-mix: white;
        --link-mix: black;
    }
}

@media only print {
    :root {
        color: black;
        font-size: 10.75pt;
    }

    #banner {
        display: none;
    }

    /*
     * The numbers are defined "off by one" for some reason, this section shows
     * only the first:
     * - 4 work experiences
     * - 2 education experiences
     * - 3 project experiences
     * in the print/PDF version, everything else is visible only on the web.
     */

    #work > section.experience:nth-of-type(n + 5) {
        display: none;
    }

    #education > section.experience:nth-of-type(n + 3) {
        display: none;
    }

    #projects > section.experience:nth-of-type(n + 4) {
        display: none;
    }
}

#technical {
    & h3 {
        font-weight: bold;
    }

    & ul,
    dd {
        margin-bottom: 0;
    }

    & .experience {
        display: grid;
        grid-template-columns: 1fr 10fr;
        column-gap: 0.5rem;
        align-items: self-start;
    }

    & dd {
        margin-left: 0;
    }
}

* {
    margin-top: 0;
    margin-bottom: 0.25rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section {
    margin-bottom: 0.5rem;
}

@media only screen {
    body {
        padding-top: 0;
    }

    #banner {
        margin-top: 0;
        border-radius: 0;
    }

    main > section {
        margin-bottom: 1.5rem;
    }
}

header {
    text-align: center;
    margin-top: 0.25rem;

    & > :not(h1) {
        margin-bottom: 0;
    }

    & .horiz-list {
        justify-content: center;
    }
}

h1 {
    margin-top: 0.25rem;
}

.horiz-list {
    list-style-type: "•";
    display: flex;
    flex-direction: row;
    padding: 0;

    & > li {
        padding: 0 0.25rem;
        margin-right: 0.25rem;
    }

    & > li:first-of-type {
        padding-left: 0;
        list-style-type: none;
    }

    & > li:last-of-type {
        padding-right: 0;
    }
}

@media only print {
    .horiz-list {
        list-style-type: "|";
    }
}

@media only screen and (max-width: 700px) {
    #technical .horiz-list {
        display: grid;
        grid: auto-flow dense / 1fr 1fr 1fr;
        padding-inline-start: 0.25rem;

        & > li:first-of-type {
            padding: 0 0.25rem;
            list-style-type: inherit;
        }
    }
}

@media only print {
    a {
        color: black;
        text-decoration: none;
    }
}

h1 {
    font-size: 1.5rem;
}

h2 {
    width: 100%;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid black;
    margin-bottom: 0;
    font-size: 1.25rem;
}

@media only screen and (prefers-color-scheme: dark) {
    h2 {
        border-bottom: 1px solid var(--caption-color);
    }
}

h3 {
    display: inline;
    font-size: inherit;
    margin-right: 0;
    margin-bottom: 0;
}

.experience {
    margin-top: 0.5rem;

    & h3 {
        font-weight: normal;
    }

    & > .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & * {
            margin-bottom: 0;
        }
    }
}

.timeframe {
    text-align: right;
}

.coursework {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.work-description {
    padding-left: 1rem;

    & li {
        margin-bottom: 0;
    }
}
