<!doctype html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="darkreader-lock" />

        <title>{{ title or metadata.title }} | {{ config.author.name }}</title>
        <meta
            name="description"
            content="{{ description or metadata.description }}"
        />
        <meta name="generator" content="{{ eleventy.generator }}" />

        <link
            rel="alternate"
            href="/feed/feed.xml"
            type="application/atom+xml"
            title="{{ metadata.title }}"
        />
        <link
            rel="alternate"
            href="/feed/feed.json"
            type="application/json"
            title="{{ metadata.title }}"
        />
        
        {% getBundle "html", "head" %}

        {%- css %}{% include "style/default.css" %}{% endcss %}

        <style>
            {% getBundle "css" %}
        </style>

        <script type="module" src="/js/cssNakedDay.js"></script>
    </head>
    <body>
        <section id="css-naked-day">
            Today is April 9 (somewhere on earth), which is
            <a href="http://css-naked-day.github.io">CSS Naked Day</a>,
            a day where we celebrate our raw structured, semantic HTML
            for accessibility.
        </section>

        {{ content | safe }}
    </body>
</html>
