<!doctype html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="darkreader-lock" />
        <meta name="theme-color" content="#24273a" />

        <title>{{ title }} | {{ config.author.name }}</title>
        <meta
            name="description"
            content="{{ description or metadata.description }}"
        />
        <meta name="generator" content="{{ eleventy.generator }}" />

        <meta name="og:title" content="{{ title }}" />
        <meta 
            name="og:description"
            content="{{ description or metadata.description }}"
        />

        {% if "og-image" in tags %}
            {% set ogSlug = page.url.slice(0, -1) %}
            {% if ogSlug == "" %}
                {% set ogSlug = "/index" %}
            {% endif %}

            <meta name="twitter:card" content="summary_large_image" />
            <meta 
                name="og:image"
                content="https://{{ config.hostname }}/img/og{{ ogSlug }}.png"
            />
        {% endif %}

        <meta
            name="og:url"
            content="https://{{ config.hostname }}{{ page.url }}"
        />
        <meta name="og:locale" content="en_US" />
        <meta name="og:site_name" content="{{ config.author.name }}" />

        <link
            rel="alternate"
            href="/feed/feed.xml"
            type="application/atom+xml"
            title="{{ feed.title }}"
        />
        <link
            rel="alternate"
            href="/feed/feed.json"
            type="application/json"
            title="{{ feed.title }}"
        />
        
        {% getBundle "html", "head" %}

        {%- css %}
            {% include "style/default.css" %}
            {% if config.banner %}
                {% include "style/banner.css" %}
            {% endif %}
        {% endcss %}

        <style>
            {% getBundle "css" %}
        </style>

        {% if config.jsFeatures.cssNakedDay %}
            <script type="module" src="/js/cssNakedDay.js"></script>
        {% endif %}

        {% if config.jsFeatures.webicon %}
            <script type="module" src="/js/webicon.js"></script>
        {% endif %}
    </head>
    <body>
        {% if config.banner %}
            {% include "partials/banner.njk" %}
        {% endif %}
        
        {% if config.jsFeatures.cssNakedDay %}
            <section id="css-naked-day">
                Today is April 9 (somewhere on earth), which is
                <a href="http://css-naked-day.github.io">CSS Naked Day</a>,
                a day where we celebrate our raw structured, semantic HTML
                for accessibility.
            </section>
        {% endif %}

        {{ content | safe }}
    </body>
</html>
