---
layout: layout/base.njk
---

{%- css %}
    {% include "style/prism-theme.css" %}
    {% include "style/post.css" %}
{% endcss %}

{%- html "head" %}
    <meta name="og:type" content="article" />
    <meta name="article:published_time" content="{{ date | readableDate }}" />
    <meta name="article:author" content="https://{{ config.hostname }}/about" />
    {% for tag in tags | filterTags %}
        <meta name="article:tag" content="{{ tag }}" />
    {% endfor %}
{% endhtml %}

<article>
    <dl class="table">
        <dt>Date</dt>
        <dd>{{ date | readableDate }}</dd>
        <dt>Tags</dt>
        <dd>
            <ul>
                {% for tag in tags | filterTags %}
                    <li>
                        <a href="/tags/{{ tag }}">{{ tag }}</a>
                    </li>
                {% endfor %}
            </ul>
        </dd>
        <dt>License</dt>
        <dd>{{ license }}</dd>
    </dl>
    <section>
        {{ content | safe }}
    </section>
</article>
