---
layout: layout/base.njk
---

{%- css %}
    {% include "style/post.css" %}
    {% include "style/prism-theme.css" %}
{% endcss %}

<main>
    <article>
        <dl class="table">
            <dt>Date</dt>
            <dd>{{ date | readableDate }}</dd>
            <dt>Tags</dt>
            <dd>test</dd>
        </dl>
        <section>
            {{ content | safe }}
        </section>
    </article>
</main>
