---
layout: layout/base.njk
---

{%- css %}
    {% include "style/prism-theme.css" %}
    {% include "style/post.css" %}
{% endcss %}

<main>
    <article>
        <dl class="table">
            <dt>Date</dt>
            <dd>{{ date | readableDate }}</dd>
            <dt>Tags</dt>
            <dd>
                <ul>
                    {% for tag in tags | filterTags %}
                        <li>
                            <a href="/tags/{{ tag }}">{{ tag }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </dd>
            <dt>License</dt>
            <dd>{{ license }}</dd>
        </dl>
        <section>
            {{ content | safe }}
        </section>
    </article>
</main>
