---
layout: layout/blank.njk
title: Home
description: My website, open it and see.
---

<h1>{{ config.author.name }}</h1>

<article>
    <p>👋🏽 Welcome!</p>
    <p>
        Sometimes I make things, sometimes I write about those things.
        Sometimes I write about other things. I'll probably write about tech,
        computer science, politics, etc.
    </p>
    <p>
        I'll hopefully post things often, last change was made on
        {% buildDate %}.
    </p>
    <p>
        This site is tested almost exclusively on
        <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>.
        Let me know on my socials if there are weird (probably CSS) issues on
        other browsers - though there shouldn't be.
    </p>
</article>

{% include "partials/footer.njk" %}
