---
layout: layout/blank.njk
title: Home
description: My website, open it and see.
---

<h1>{{ config.author.name }}</h1>

<article>
    <p>👋🏽 Welcome!</p>
    <p>
        Sometimes I make things, sometimes I write about those things.
        Sometimes I write about other things. I'll probably write about technology,
        computer science, politics, etc.
    </p>
    <p>
        This is my <strong>personal</strong> page. Opinions here are my own.
    </p>
    <p>
        Check out my blog, read my about page, or stalk me on my socials below!
    </p>
    <p class="big">🏳️‍⚧️</p>
</article>

{% include "partials/footer.njk" %}
