---
title: Résumé
description: My (public) résumé.
---

<!doctype html>

<!--
# README

Intended to be set on US Letter paper, with 0.5 inch margins.
Optimized for PDF export or printing to paper.
The accompanying CSS file is naturally very important.

LICENSE: All Rights Reserved.
This file is **not** licensed under CC BY-NC-SA 4.0, as is default for my Content.
-->

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style/default.css" media="only screen" />
        <link rel="stylesheet" href="/style/resume.css" />
        <meta name="darkreader-lock" />
        <meta name="theme-color" content="#24273a" />

        <!--
        Head from blank is useful here, but setting layout
        will cause CSS issues, and break Prettier
        -->
        <title>{{ title }} | {{ config.author.name }}</title>
        <meta
            name="description"
            content="{{ description or metadata.description }}"
        />
        <meta name="generator" content="{{ eleventy.generator }}" />

        <meta name="og:title" content="{{ title }}" />
        <meta
            name="og:description"
            content="{{ description or metadata.description }}"
        />

        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="og:image"
            content="https://{{ config.hostname }}/img/og/resume.png"
        />

        <meta
            name="og:url"
            content="https://{{ config.hostname }}{{ page.url }}"
        />
        <meta name="og:locale" content="en_US" />
        <meta name="og:site_name" content="{{ config.author.name }}" />
    </head>
    <body>
        <section id="banner">
            <p>
                This is my public résumé. If you're an employer and want
                additional details, please
                <a href="/about#contact">get in touch with me</a>.
            </p>
            <p>
                This page is intended to be exported to PDF or printed on US
                Letter (8.5 x 11 in) paper, with 0.5 in margins.
            </p>
        </section>

        <header>
            <h1>
                <a class="name" href="https://{{ config.hostname }}">
                    {{ config.author.name }}
                </a>
            </h1>
            <ul class="horiz-list">
                <li>
                    <a href="{{ resume.contact.phone.href }}" rel="me">
                        {{ resume.contact.phone.display or 'Phone Number' }}
                    </a>
                </li>
                <li>
                    <a href="{{ resume.contact.email.href }}" rel="me">
                        {{ resume.contact.email.display or 'Email address' }}
                    </a>
                </li>
                <li>
                    <a
                        href="https://{{ config.hostname }}"
                        target="_blank"
                        rel="noopener me"
                    >
                        {{ config.hostname }}
                    </a>
                </li>
            </ul>
            <ul class="horiz-list">
                <li>Boston, MA</li>
                <li>
                    <a
                        href="{{ resume.contact.linkedin.href }}"
                        target="_blank"
                        rel="noopener me"
                    >
                        {{ resume.contact.linkedin.display or 'LinkedIn Profile' }}
                    </a>
                </li>
            </ul>
        </header>
        <main>
            <section id="education">
                <h2>Education</h2>
                <section class="experience">
                    <div class="head">
                        <div>
                            <h3><b>Northeastern University</b>, Boston, MA</h3>
                            <p>
                                <b>Khoury College of Computer Sciences</b>
                            </p>
                            <p>
                                Candidate for BS in Computer Science, Minor in
                                Mathematics
                            </p>
                        </div>
                        <div class="timeframe">
                            <p>Sep 2023 &ndash; Present</p>
                            <p>Graduation: May 2026</p>
                        </div>
                    </div>
                    <div>
                        <ul class="horiz-list">
                            <li>GPA: 3.80 / 4.00</li>
                            <li>Dean's List</li>
                        </ul>
                        <div class="coursework">
                            <div>Coursework:</div>
                            <p>
                                <a
                                    href="https://ccs.neu.edu/~amal/course/7470-s25"
                                >
                                    Programming Languages Seminar</a
                                >,
                                <a href="https://course.ccs.neu.edu/cs4410sp25"
                                    >Compilers</a
                                >
                                (graduate),
                                <a href="https://mballantyne.net/hyol">
                                    Hack Your Own Language</a
                                >,
                                <a
                                    href="https://web.archive.org/web/20250226192646/https://ccs.neu.edu/~vip/teach/Algorithms/html/"
                                    >Algorithms</a
                                >
                                (graduate), Digital Design & Computer
                                Architecture, Object-Oriented Design
                            </p>
                        </div>
                    </div>
                </section>
                <section class="experience">
                    <div class="head">
                        <div>
                            <h3><b>Harvard Summer School</b>, Cambridge, MA</h3>
                        </div>
                        <div class="timeframe">
                            <p>Jun &ndash; Aug 2021</p>
                        </div>
                    </div>
                    <div>
                        <div class="coursework">
                            <div>Coursework:</div>
                            <p>Introduction to Artificial Intelligence</p>
                        </div>
                    </div>
                </section>
                <section class="experience">
                    <div class="head">
                        <div>
                            <h3><b>Quincy High School</b>, Quincy, MA</h3>
                            <p>High School Diploma, PLTW Engineering Diploma</p>
                        </div>
                        <div class="timeframe">
                            <p>Sep 2019 &ndash; Jun 2023</p>
                        </div>
                    </div>
                    <div>
                        <p>GPA: 5.0 / 5.5</p>
                        <div class="coursework">
                            <div>Coursework:</div>
                            <p>
                                AP Computer Science A, AP Calculus AB & BC, PLTW
                                Digital Electronics, PLTW Digital Design &
                                Development
                            </p>
                        </div>
                    </div>
                </section>
            </section>
            <section id="work">
                <h2>Experience</h2>
                <section class="experience">
                    <div class="head">
                        <div>
                            <h3><b>Northeastern University</b>, Boston, MA</h3>
                            <p>
                                <b>Teaching Assistant:</b>
                                Accelerated Fundamentals of CS
                                <a
                                    href="https://course.ccs.neu.edu/cs2500accelf24"
                                    >1</a
                                >
                                &
                                <a href="https://course.ccs.neu.edu/cs2510asp25"
                                    >2</a
                                >
                            </p>
                        </div>
                        <div class="timeframe">
                            <p>May 2024 &ndash; Present</p>
                        </div>
                    </div>
                    <ul class="work-description">
                        <li>
                            Support professor by helping design assignments,
                            automated test cases, and proofread exams
                        </li>
                        <li>
                            Provide detailed feedback to students' assignments,
                            and review other TAs' grading for consistency
                        </li>
                        <li>
                            Hold regular office hours to help students
                            understand complex course topics and prepare for
                            exams
                        </li>
                    </ul>
                </section>
                <section class="experience">
                    <div class="head">
                        <div>
                            <h3>
                                <b
                                    ><a href="https://nuccdc.club"
                                        >Northeastern University CCDC</a
                                    ></b
                                >, Boston, MA
                                <p><b>CCDC Team Member</b></p>
                            </h3>
                        </div>
                        <div class="timeframe">
                            <p>Oct 2024 &ndash; Present</p>
                        </div>
                    </div>
                    <ul class="work-description">
                        <li>
                            Member of Collegiate Cyber Defense Competition team,
                            securing internal networks against attacks
                        </li>
                        <li>
                            Scored first in the
                            <a
                                href="https://ncaecybergames.org/results/2025/teams/3cf80d78-766d-4777-a366-69e4227ea520#"
                                >NCAE Northeast 1</a
                            >
                            competition, invited to nationals; worked on
                            securing databases
                        </li>
                        <li>
                            Experience in communicating details about security
                            practices and vulnerabilities to a general audience
                        </li>
                    </ul>
                </section>
                <section class="experience">
                    <div class="head">
                        <div>
                            <h3>
                                <b>Knack Tutoring, Northeastern University</b>,
                                Boston, MA
                            </h3>
                            <p><b>Peer Tutor</b></p>
                        </div>
                        <div class="timeframe">
                            <p>Jan 2024 &ndash; Jun 2024</p>
                        </div>
                    </div>
                    <ul class="work-description">
                        <li>
                            Tutored students on topics in computer science and
                            mathematics, such as abstraction and induction
                        </li>
                        <li>
                            Prepared to explain various topics based on student
                            need, ensure tutee understanding, and track progress
                        </li>
                        <li>
                            Rated 4.7/5 overall by tutees, worked toward CRLA
                            certification and being hired as Teaching Assistant
                        </li>
                    </ul>
                </section>
                <section class="experience">
                    <div class="head">
                        <div>
                            <h3><b>Code In Place</b>, Remote</h3>
                            <p><b>Section Leader</b></p>
                        </div>
                        <div class="timeframe">
                            <p>May &ndash; Jul 2024</p>
                        </div>
                    </div>
                    <ul class="work-description">
                        <li>
                            Mentored students from around the world in
                            Stanford-affiliated introductory Computer Science
                            course
                        </li>
                        <li>
                            Reviewed weekly lecture material in highly
                            interactive section meetings with ~20 students
                        </li>
                        <li>
                            Provided resources to students that wanted to pursue
                            further education in Computer Science
                        </li>
                    </ul>
                </section>
            </section>
            <section id="technical">
                <h2>Technical Knowledge</h2>
                <dl class="experience">
                    <dt><h3>Languages:</h3></dt>
                    <dd>
                        <ul class="horiz-list">
                            <li>Rust</li>
                            <li>Rocq (Coq)</li>
                            <li>Java</li>
                            <li>Python</li>
                            <li>Ocaml</li>
                            <li>SQL</li>
                            <li>HTML/CSS</li>
                            <li>JavaScript/TypeScript</li>
                        </ul>
                    </dd>
                    <dt><h3>Technologies:</h3></dt>
                    <dd>
                        <ul class="horiz-list">
                            <li>Proof Assistants</li>
                            <li>Node.js</li>
                            <li>React</li>
                            <li>Electron</li>
                            <li>Shell</li>
                            <li>Databases</li>
                            <li>Git</li>
                            <li>Docker</li>
                            <li>Nix</li>
                        </ul>
                    </dd>
                    <dt><h3>Systems:</h3></dt>
                    <dd>
                        <ul class="horiz-list">
                            <li>Windows</li>
                            <li>macOS</li>
                            <li>Linux</li>
                            <li>Unix</li>
                        </ul>
                    </dd>
                </dl>
            </section>
            <section id="projects">
                <h2>Projects</h2>
                <section class="experience">
                    <div class="head">
                        <h3>
                            <b>
                                <a
                                    href="{{
                                        config.author.socials.GitHub
                                    }}/mc-query"
                                >
                                    mc-query
                                </a>
                            </b>
                        </h3>
                        <div class="timeframe">Jul 2022 &ndash; Present</div>
                    </div>
                    <ul class="work-description">
                        <li>
                            Published Rust library to remotely query Minecraft
                            servers, securely run commands, with 4k+ downloads
                        </li>
                        <li>
                            Implemented low-level TCP and UDP protocol
                            specifications, and incorporated feature requests
                            from users
                        </li>
                    </ul>
                </section>
                <section class="experience">
                    <div class="head">
                        <h3>
                            <b>
                                <a
                                    href="{{
                                        config.author.socials.GitHub
                                    }}/multiserver"
                                >
                                    Multiserver
                                </a>
                            </b>
                        </h3>
                        <div class="timeframe">Nov 2021 &ndash; Mar 2023</div>
                    </div>
                    <ul class="work-description">
                        <li>
                            Created Electron app to solve a personal need:
                            managing many Minecraft servers using a React GUI
                        </li>
                        <li>
                            Used inter-process communication to manage other
                            programs or call APIs to create and run servers
                        </li>
                    </ul>
                </section>
                <section class="experience">
                    <div class="head">
                        <h3><b>Rush Hour/Klotski (Assignment)</b></h3>
                        <div class="timeframe">Mar &ndash; Apr 2024</div>
                    </div>
                    <ul class="work-description">
                        <li>
                            Collaborated with partners to create the games of
                            Rush Hour and Klotski using Object-Oriented Design
                        </li>
                        <li>
                            Designed abstractions to cover common functionality
                            over both games, minimizing game-specific code
                        </li>
                    </ul>
                </section>
                <section class="experience">
                    <div class="head">
                        <h3><b>Stock Portfolio Analysis (Assignment)</b></h3>
                        <div class="timeframe">
                            <p>May &ndash; Jun 2024</p>
                        </div>
                    </div>
                    <ul class="work-description">
                        <li>
                            Implemented an MVC app to manage a user's stock
                            portfolio using Object-Oriented Design principles
                        </li>
                        <li>
                            Used a stock price API to provide historical price
                            data and portfolio re-balancing to custom ratios
                        </li>
                    </ul>
                </section>
            </section>
        </main>
    </body>
</html>
