<!--
    banner colors: catppuccin crust - but more easily editable in one file,
    also respecting CSS naked day
-->
<section id="banner" style="--bg: #dce0e8; --dark-bg: #181926">
    <span>Democracy is at stake. <a href="https://vote.org">Vote.</a></span>
</section>
