<footer>
    <nav>
        <dl class="table">
            <dt>Main</dt>
            <dd>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </dd>
            <dt>Socials</dt>
            <dd>
                <ul>
                    {% for platform, profile in config.author.socials %}
                        <li>
                            <a 
                                rel="me noopener"
                                target="_blank"
                                href="{{ profile }}"
                            >
                                {{ platform }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </dd>
            <dt>Other</dt>
            <dd>
                <ul>
                    <li><a href="/resume">Resumé</a></li>
                    <li><a href="/licenses">Licenses</a></li>
                </ul>
            </dd>
        </dl>
    </nav>
</footer>
