<footer>
    <nav>
        <dl>
            <dt>Main</dt>
            <dd>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </dd>
            <dt>External</dt>
            <dd>
                <ul>
                    <li><a href="{{ config.author.github }}">GitHub</a></li>
                    <li><a href="{{ config.author.fedi }}">Fediverse</a></li>
                </ul>
            </dd>
            <dt>Other</dt>
            <dd>
                <ul>
                    <li><a href="/list">Reading List</a></li>
                    <li><a href="/licenses">Licenses</a></li>
                </ul>
            </dd>
        </dl>
    </nav>
</footer>
