<footer>
    <nav>
        <dl>
            <dt>Main</dt>
            <dd>
                <ul>
                    <a href="/">Home</a>
                    <a href="/blog">Blog</a>
                    <a href="/about">About</a>
                </ul>
            </dd>
            <dt>External</dt>
            <dd>
                <ul>
                    <a href="{{ config.author.github }}">GitHub</a>
                    <a href="{{ config.author.fedi }}">Fediverse</a>
                </ul>
            </dd>
            <dt>Other</dt>
            <dd>
                <ul>
                    <a href="/list">Reading List</a>
                </ul>
            </dd>
        </dl>
    </nav>
</footer>
