<header>
    <a href="/" class="name" id="name">{{ config.author.name }}</a>
    <section class="h-card">
        <span class="p-name">{{ config.author.name }}</span>
        <a class="u-email" href="{{ config.author.email.href }}">
            {{ config.author.email.display }}
        </a>
        <a class="u-url" href="https://{{ config.hostname }}">web</a>
    </section>
</header>
