---
permalink: /feed/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ feed.language }}">
    <title>{{ feed.title }}</title>
    <subtitle>{{ feed.description }}</subtitle>
    <link rel="self" href="{{ permalink | htmlBaseUrl(feed.url) }}" />
    <link href="{{ feed.url | addPathPrefixToFullUrl }}" />
    <updated>{{
        collections.posts | getNewestCollectionItemDate | dateToRfc3339
    }}</updated>
    <author>
        <name>{{ config.author.name }}</name>
    </author>
    {% for post in collections.posts | reverse %}
        {% set absolutePostUrl = post.url | htmlBaseUrl(feed.url) %}
        <entry>
            <title>{{ post.data.title }}</title>
            <link href="{{ absolutePostUrl }}" />
            <updated>{{ (post.data.updated or post.date) | dateToRfc3339 }}</updated>
            <id xmlns:xlink="{{ absolutePostUrl }}" xlink:type="simple">{{ post.url }}</id>
            <content type="html">{{ post.url }}</content>
            <summary>{{ post.data.description }}</summary>
        </entry>
    {% endfor %}
</feed>
