---
permalink: /feed/feed.json
---
{
	"version": "https://jsonfeed.org/version/1.1",
	"title": "{{ feed.title }}",
	"language": "{{ feed.language }}",
	"home_page_url": "{{ feed.url | addPathPrefixToFullUrl }}",
	"feed_url": "{{ permalink | htmlBaseUrl(feed.url) }}",
	"description": "{{ feed.description }}",
	"authors": [
		{
			"name": "{{ config.author.name }}",
			"url": "{{ feed.url }}"
		}
	],
	"items": [
		{%- for post in collections.posts | reverse %}
		{%- set absolutePostUrl = post.url | htmlBaseUrl(feed.url) %}
		{
			"id": "{{ absolutePostUrl }}",
			"url": "{{ absolutePostUrl }}",
			"title": "{{ post.data.title }}",
			"summary": "{{ post.data.description }}",
			"content_html": {% if post.templateContent %}{{ post.templateContent | transformWithHtmlBase(absolutePostUrl, post.url) | dump | safe }}{% else %}""{% endif %},
			"date_published": "{{ post.date | dateToRfc3339 }}"
		}
		{% if not loop.last %},{% endif %}
		{%- endfor %}
	]
}
